.container{
    display: grid;
    background: linear-gradient(72deg,rgb(224, 209, 209) 1%, rgb(89, 0, 255) 99%);
    grid-template-columns: auto auto auto;
    
    
}
.bemvinda{
    color: darkcyan;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: medium;
    padding-left: 50px;
    
}

.logo{
    width: 50px;
    align-items: start;
}
.login{
    width: 50px;
    margin-left: auto;
}
.header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    background-color:white;
}
.categoria{
    margin-left: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    min-width: 140px; 
    text-align: left;
}

.nav{
    padding-left: 500px;
}

ul, ol{
    list-style: none;
}
.nav li a {
    background-color: darkcyan;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border: white 1px solid;

}

.nav li a:hover{
    background-color: darkblue;
}

.nav li ul{
    display:none ;
    min-width: 140px;
    position: absolute;
}
.nav li:hover > ul{
    display: block;
}

.nav > li{
    float: left;

}

h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: larger;
    color: aliceblue;
}
.imgCentral{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end:4;
    background: url("NEWS.png");
    text-align: center;
 
  
}
.imgC{
    margin-top: 20px;
    border: white 2px solid;
}

.logosLink{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    text-align: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logoutu:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
    border: black 1px solid;
    
}
.logoutu{
    overflow:hidden;
}
   
.logoutec:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
    border: black 1px solid;
}
.logoif{
    width: fit-content;
}
.logoif:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
    border: black 1px solid;
}

.noticias{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 8;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: aliceblue;
    gap: 10px;
}
p{
    font-size: smaller;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

  #evt1:hover, .noticia2:hover, .noticia3:hover, .noticia4:hover , .noticia5:hover , .noticia6:hover,
  .noticia7:hover, .noticia8:hover, .noticia9:hover, .noticia10:hover, .noticia11:hover, .noticia12:hover{
    text-align: center;
    border: rgb(0, 0, 0) 4px solid;
    background-color:ghostwhite;
    
}
a{
    text-decoration: none;
    color: rgb(0, 1, 66);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.noticia1:hover{
    -webkit-transform:scale(1.5);transform:scale(1.5);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 0.5px black double;
    overflow:hidden;

}


.noticia1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    border: black 1px solid;
    
}
#evt1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    border: black 1px solid;
}



.noticia2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    border: black 1px solid;
    
}
.noticia3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    border: black 1px solid;
    
}
.noticia4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    border: black 1px solid;
    
}
.noticia5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    border: black 1px solid;
    
}

.noticia6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    border: black 1px solid;
    
}
.noticia7{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    border: black 1px solid;
    
}

.noticia8{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    border: black 1px solid;
    
}

.noticia9{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    border: black 1px solid;
    
}
.noticia10{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    border: black 1px solid;
    
}
.noticia11{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    border: black 1px solid;
    
}

.noticia12{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    border: black 1px solid;
    
}

.noticias{
    
    margin-top: 30px;
    margin-bottom: 30px;
}
.h2eventos{
    text-align: center;
    background-color: black;

}




.slider{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 15;

    
    padding: 0;
    height: 100vh;
    width: 100vw;
    
    margin: 0 auto;
    width: 450px;
    height: 800px;
    overflow: hidden;

}
h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: large;
    color: aliceblue;
    background-color: black;
}
.slides{
    width: 230%;
    height: 800px;
    display: flex;
}
.slides input{
    display: none;
}
.depoimento{
    width: 50%;
    position: relative;
    text-align: center;
    background: linear-gradient(72deg,rgb(224, 209, 209) 1%, rgb(89, 0, 255) 99%);
}
.first{
    background: linear-gradient(72deg,rgb(224, 209, 209) 1%, rgb(89, 0, 255) 99%);
    text-align: center;
}
.depoimento img{
    width: 450px;
    text-align: center;
    
}
.manual-navegacion{
    position:absolute;
    width: 450px;
    margin-top:-250px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border-radius: 10px;
    padding: 5px;
    border: 2px solid black;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: rgb(56, 56, 56);
}
#radio1:checked ~ .first{
    margin-left: 0;
    transition: 1s;
}
#radio2:checked ~ .first{
    margin-left:-50%;
    transition: 1s;
}
#radio3:checked ~ .first{
    margin-left:-100%;
    transition: 1s;
}



footer{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 17;
    grid-row-end: 20;
    background-color: black;
    
}
.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    text-align: center;
}
.copyright{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 10px;
}


.titulo{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background: url(fundosemblur.png);
    height: 100px;
    align-items: center;
}
#titulo-noticia{
    padding: 10px;
    font-size:xx-large;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.conteudo{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 9;
    border: 5px white solid;
    
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg,rgb(224, 209, 209) 1%, rgb(89, 0, 255) 99%);
        
    height: 520px;
    width: 1000px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin:auto;
    margin-top: 30px;

}
.nav-img{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}
.bar{
    width: 70px;
    height: 70px;
    cursor: pointer;

    
    border-radius: 10px;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    transition: 1s;

}

.bar:not(:last-child){
    margin-right: 40px;
}
.bar:hover{
    opacity: 0.5;
    transition: 1s;
}

input:not(#input){
    display: none;
}
.slides-imagem{
    display: flex;
    width: 400%; 
    height: 100%;
}
.slide-img{
    width: 25%;
    transition: 1.6s;

}
.slide-img img{
    width: 100%;
    height: 100%;
}

#rad-1:checked ~ .slide-1 {
    margin-left: 0;
    transition: 1.6s;
}
#rad-2:checked ~ .slide-1 {
    margin-left: -25%;
    transition: 1.6s;
}
#rad-3:checked ~ .slide-1 {
    margin-left: -50%;
    transition: 1.6s;
}
#rad-4:checked ~ .slide-1 {
    margin-left: -75%;
    transition: 1.6s;
}



.texto{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 12;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#texto-ti{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: rgb(3, 1, 77);
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.5);

}

















    















